{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Welcome!</h2>

            <p>
                <h3>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <a href="/bookmark/create">
                        Create a New Bookmark
                    </a>
                </h3>
            </p>

        </div>
    </div>
{% endblock %}
