<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>SitePin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
            <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="/js/jquery.min.js"></script>
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>SitePin</h1>
                <p>A bookmark managing web application.</p>
            </div>

            {% include 'menu.html.twig' with {currPage: currPage|default('none')} %}

            {% block content '' %}
        </div>
    </body>
</html>
