<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li{% if currPage == 'homepage' %} class="active"{% endif %}>
                    <a href="/">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        Home{% if currPage == 'homepage' %}<span class="sr-only"> (current)</span>{% endif %}
                    </a>
                </li>
                <li{% if currPage == 'bookmarks' %} class="active"{% endif %}>
                    <a href="/bookmarks">
                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                        Bookmarks{% if currPage == 'bookmarks' %}<span class="sr-only"> (current)</span>{% endif %}
                    </a>
                </li>
                <li{% if currPage == 'create' %} class="active"{% endif %}>
                    <a href="/bookmark/create">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        Create Bookmark{% if currPage == 'create' %}<span class="sr-only"> (current)</span>{% endif %}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li{% if currPage == 'about' %} class="active"{% endif %}>
                    <a href="/about">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        About{% if currPage == 'about' %}<span class="sr-only"> (current)</span>{% endif %}
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
